@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

* {
  scroll-behavior: smooth;
}

.text-gradient {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #def9fa 0.89%,
    #bef3f5 17.23%,
    #9dedf0 42.04%,
    #7de7eb 55.12%,
    #5ce1e6 71.54%,
    #33bbcf 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.bg-blue-gradient {
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
}

.bg-black-gradient {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-black-gradient-2 {
  background: linear-gradient(
    -168.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-gray-gradient {
  background: linear-gradient(
    153.47deg,
    rgba(255, 255, 255, 0) -341.94%,
    #14101d 95.11%
  );
}

.bg-discount-gradient {
  background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.feature-card:hover {
  background: var(--black-gradient);
  box-shadow: var(--card-shadow);
}

.feedback-container .feedback-card:last-child {
  margin-right: 0px;
}

.feedback-card {
  background: transparent;
}

.feedback-card:hover {
  background: var(--black-gradient);
}

.blue__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
  filter: blur(123px);
}

.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(900px);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}

.Typewriter__wrapper {
  font-family: 'Rubik', sans-serif;
  color: white;
  font-size: 68px;
  font-weight: 600;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .Typewriter__wrapper {
    font-size: 52px;
  }

}

@media only screen and (max-width: 400px) {
  /* For mobile phones: */
  .Typewriter__wrapper {
    font-size: 52px;
  }

}

/*RESET CSS*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*GLOBAL STYLE*/
.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.cardContainer {
  width: 80%;
  padding: 15px;
  height: auto;
  margin-left: 15px;
  margin-right: 15px;
  box-shadow: 0 2px 6px black;
  color: black;
  text-align: center;
  margin-bottom: 10vh;
}

/* SLIDER STYLE SECTION */
.slider {
  position: relative;
  height: 476px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}
.slider ul {
  list-style-type: none;
  position: absolute;
  width: 90%;
  overflow: hidden;
  text-align: center;
  pointer-events: none;
  padding-left: 0;
}
.slider ul.current {
  pointer-events: auto;
}
.slider ul li {
  display: inline-block;
  padding: 20px;
  width: 38%;
  max-width: 300px;
  transform: translateX(600%);
  transition: opacity 0.2s linear;
}
.slider ul li a,
.slider ul li img {
  display: block;
  margin: 0 auto;
}
.slider ul li a {
  outline: none;
  cursor: pointer;
}

#ListSport,
#ListElectric {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: visible;
}
#ListSport ul li,
#ListElectric ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.slider ul li img {
  max-width: 100%;

  border: none;
}

.slider ul li h4 {
  display: inline-block;
  font-family: "Poppins", "Baskerville Old Face", "Hoefler Text", Garamond,
    "Times New Roman", serif;
  font-weight: 200;
  font-size: 16px !important;
  width: 165px;
  margin-bottom: 3.2rem;
}
.slider ul li:hover {
  opacity: 0.7;
}
.slider nav {
  position: absolute;
  top: 18rem;
  text-align: center;
  max-width: 89%;
  margin: 0 auto;
  border-top: 5px solid #333;
}

.slider nav span {
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 5px;
  padding: 40px 30px 30px 34px;
  position: relative;
  color: #888;
  outline: none;
  transition: color 0.2s linear;
  cursor: pointer;
  transition: all 0.7s ease-in-out;
}

.slider nav span:hover,
.slider nav span.selected {
  color: #fff;
  transition: all 0.7s ease-in-out;
}
.slider nav span.selected:after,
.slider nav span.selected:before {
  content: "";
  position: absolute;
  top: -5px;
  border: solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  transition: all 0.7s ease-in-out;
}

.slider nav span.selected:after {
  border-color: transparent;
  border-top-color: azure;
  border-width: 20px;
  left: 50%;
  margin-left: -20px;
  top: -6px;
}

.slider nav span.selected:before {
  border-color: transparent;
  border-top-color: #333;
  border-width: 27px;
  left: 50%;
  margin-left: -27px;
  transition: all 0.7s ease-in-out;
}
/*ANIMATIONS SECTION*/

/* moveFromRight */
.slider ul.moveFromRight li {
  animation: moveFromRight 350ms ease-in-out both;
}

/* moveFromLeft */
.slider ul.moveFromLeft li {
  animation: moveFromLeft 350ms ease-in-out both;
}

/* moveToRight */
.slider ul.moveToRight li {
  animation: moveToRight 350ms ease-in-out both;
}

/* moveToLeft */
.slider ul.moveToLeft li {
  animation: moveToLeft 350ms ease-in-out both;
}
/*DELAY FOR EACH PICTURE*/
.slider ul.moveToLeft li:first-child,
.slider ul.moveFromRight li:first-child,
.slider ul.moveToRight li:nth-child(4),
.slider ul.moveFromLeft li:nth-child(4) {
  animation-delay: 0ms;
}
.slider ul.moveToLeft li:nth-child(2),
.slider ul.moveFromRight li:nth-child(2),
.slider ul.moveToRight li:nth-child(3),
.slider ul.moveFromLeft li:nth-child(3) {
  animation-delay: 90ms;
}

.slider ul.moveToLeft li:nth-child(3),
.slider ul.moveFromRight li:nth-child(3),
.slider ul.moveToRight li:nth-child(2),
.slider ul.moveFromLeft li:nth-child(2) {
  animation-delay: 180ms;
}

.slider ul.moveToLeft li:nth-child(4),
.slider ul.moveFromRight li:nth-child(4),
.slider ul.moveToRight li:first-child,
.slider ul.moveFromLeft li:first-child {
  animation-delay: 270ms;
}

/*KEYFRAMES ANIMATION SECTION*/
@keyframes moveFromRight {
  0% {
    transform: translateX(600%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes moveFromLeft {
  0% {
    transform: translateX(-600%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes moveToRight {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(600%);
  }
}

@keyframes moveToLeft {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-600%);
  }
}